<h1>Edit Entry</h1>

<form action="/posts/<%= @id %>" method="POST">
	
	<label for="title">Edit Job Title: </label>
	<input type="text" name="title" value="<%= @post[:title] %>">

	<label for="year"> <br><br> Edit Year: </label>
	<textarea name="year" placeholder="Post year"><%= @post[:year] %></textarea>

	<label for="body"> <br><br> Edit Description: </label>
	<textarea name="body" placeholder="Post body"><%= @post[:body] %></textarea>

	<input type="hidden" name="_method" value="PUT">

	<input type="submit" value="Update">

</form>