<h1>Curriculum Vitae</h1>

<form action="/posts" method="POST">
	
	<label for="title">Job title: </label>
	<input type="text" name="title" placeholder="Title">

	<label for="pow"><br><br>Place of Work: </label>
	<input type="text" name="pow" placeholder="Client/company">

	<label for="date"> <br><br>Date: </label>
	<input type="text" name="date" placeholder="date">

	<label for="body"><br><br>Job Description:</label>
	<textarea name="body" placeholder="Description"></textarea>

	<input type="submit" value="Save">

</form>