<h1>Curriculum Vitae</h1>

<form action="/posts" method="POST">
	
	<label for="title">Job title: </label>
	<input type="text" name="title" placeholder="Title">

	<label for="year"> <br><br>Year: </label>
	<textarea name="year" placeholder="Year"></textarea>

	<label for="body"><br><br>Job Description:</label>
	<textarea name="body" placeholder="Description"></textarea>

	<input type="submit" value="Save">

</form>